<div class="modal fade bs-example-modal-lg main-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			 <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
			<img src="img/logo.png" class="mb-4" alt="">
			<h3 class="title-sm color text-center mb-3">Fill in the form and get <br>
			your consulting!</h3>
			<form id="activate_form" class="form-container"></form>
		</div>
	</div>
</div>