<section class=" section position-r mh-100 d-flex align-items-center">
	<div class="bg-pos"><img class="cup-icon"  src="img/Cups/cup-btc.png" alt=""></div>
	
	<div class="container">
		<div class="row color">
			<div class="col-lg-7">
				<h2 class="title-lg bold text-uppercase">
					Congratulations! <br>
					Your champion is <br>
					Bitcoin! <br>
				</h2> 
			</div>
			<div class="col-md-7">
				<h3 class="title-md mt-4 mb-4">Your vote is counted and transferred to the <br>
				World Crypto Cup to determine the winner</h3>
			</div>
			<div class="col-md-7">
				<h4 class="title-md-l text-uppercase">
					<strong>
						Special bonus to thank you 
						for voting! 0,015 BTC
					</strong>
				</h4>
				<button class="btn-r text-uppercase bold mt-5">
					get your bonus
				</button>	
			</div>

		</div>
	</div>
</section>
